/* TODO Add site wide styles */
:root{
    --dark-moss-green: #47632dff;
        --black-olive: #30341dff;
        --rufous: #a12d1aff;
        --saffron: #ffc757ff;
        --lawn-green: #86ff44ff;
        --light-blue: #82c8d2;
        --light-green: #c3f53c;
        --border-grey: #30363a;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.round-buttons {
    width: fit-content;
}
