.about-block {
    margin-top: 1rem;
}

.about-fields {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    font-size: 14px;
}

.about-text {
    margin-top: 3rem;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
}

.stock-about {
    padding-top: 1rem;
    width: 40rem;
}

.stock-chart {
    margin-top: 2rem;
}

.stock-details-page {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.stock-details-top {
    width: 40rem;
}

.stock-details-wrapper {
    display: flex;
    margin: 2rem;
}

.stock-label {
    font-weight: bold;
}

.stock-negative {
    color: red;
}

.stock-positive {
    color: var(--robin-hood-green);
}

.toggle-description {
    color: var(--robin-hood-green);
    background: none;
    border:none;
    padding: 0;
    cursor: pointer;
}

.transactions {
    padding: 1rem;
    margin-top: 3rem;
    background-color: white;
    height: 30rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 1px lightgray;
    width: 22rem;
}

#add-to-list{
    width: 100%;
    background-color: var(--robin-hood-green);
    color: white;
    text-align: center;
}
